/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";

#main-controller{
	margin-top:3em;
  font-size:1.5em;
}

#panel{
  position:fixed;
  right:0;
  top:0;
  margin-right:0.2em;
}

.hello{
  text-align:center;
  font-size:5em;
  margin-top:1em;
}

#problem-statement{
  font-size:2em;  
  margin-top:3em;
  text-align:center;
  word-break: keep-all;;
}

#answer-list {
  margin-left:1em;
  list-style:none;

  li {
    font-size: 1.7em;
    margin-top:0.5em;
  }

  input[type=radio] {
    width:1em;
    height:1em;
    position:relative;
    top:0.1em;
  }
}

#buttons {
  text-align:center;

  button{
    font-size:3em;
    margin: 1em;
  }
}

b { //컬럼 제목
//  font-weight:bold;
}

i { //aggr 함수
//text-decoration: italic;
}

u { // 값 (필터링용)

}
